<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>998027732340-e3lrb4vi5hg0bh1jg5etj4lnrinvh77e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998027732340-e3lrb4vi5hg0bh1jg5etj4lnrinvh77e</string>
	<key>API_KEY</key>
	<string>AIzaSyAtp_AiZa4ViTRr8JILRTih2tQStjjAEng</string>
	<key>GCM_SENDER_ID</key>
	<string>998027732340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterappjsonlocal</string>
	<key>PROJECT_ID</key>
	<string>relax-8538b</string>
	<key>STORAGE_BUCKET</key>
	<string>relax-8538b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998027732340:ios:4fe8f1762689294e</string>
	<key>DATABASE_URL</key>
	<string>https://relax-8538b.firebaseio.com</string>
</dict>
</plist>